name: 'Check spelling'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:

jobs:
  spellcheck: # run the action
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo and its submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: streetsidesoftware/cspell-action@v1.5.1
        with:
          config: config/cspell.json